@import url('https://fonts.googleapis.com/css2?family=Droid+Sans:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #191919;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
@layer utilities {
  .font-duru {
    font-family: var(--font-duru);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}